---
import BaseLayout from "~layouts/BaseLayout.astro";
import ProjectCard from "~components/ProjectCard";
---

<BaseLayout>
  <div class="flex flex-col gap-8 items-center justify-center">
    <h1 class="text-5xl font-bold">Welcome!</h1>
    <h2 class="text-xl font-semibold">Below is my most recent project</h2>
    <ProjectCard
      client:load
      title={"Pong"}
      body={"A Pong replica I created in Monogame following the ECS architectural pattern."}
      projectLink={"https://github.com/foggeydoughtnut/Pong"}
      image={"/Pong.png"} 
    />
  </div>
</BaseLayout>

