---
import BaseLayout from "~layouts/BaseLayout.astro";
import ProjectCard from "~components/ProjectCard";
---

<BaseLayout>
  <div class="flex flex-col gap-8 items-center justify-center">
    <h1 class="text-5xl font-bold">Welcome!</h1>
    <h2 class="text-xl font-semibold">Below is my most recent project</h2>
    <ProjectCard 
      client:load
      title={"Vehicle Reservation via Slack"}
      body={"Slack bot developed for USU IT to reserve vehicles using the Outlook API. Used the Flask Python framework to recieve and process the Slack commands. Used Microsoft's Graph API to schedule events on the Vehicle's specifc calendar"}
      projectLink={"https://github.com/foggeydoughtnut/Vehicle-Reservation-Slack"}
    />
  </div>
</BaseLayout>

