---
import ProjectCard from "~components/ProjectCard";
import BaseLayout from "~layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="flex flex-col gap-8 items-center justify-center pb-8">
    <h1 class="text-5xl font-bold">Previous Projects</h1>
    <h2 class="text-xl font-semibold">Below are my previous projects</h2>
  </div>
  <div
    class="flex lg:flex-row flex-col gap-8 flex-wrap items-center justify-center"
  >
    <ProjectCard
      client:load
      title={"Aspire Visualization"}
      body={"A visualization server I created to visualize energy in and outflow as well as Aspire's energy management system. It also shows the Salt Lake City and Ogden electric bus information."}
      projectLink={"https://github.com/DIRECTLab/evr-visualization-react"}
      image={"/AspireVisualization.png"}
    />
    <ProjectCard
      client:load
      title={"Aspire REST API and Database"}
      body={" I developed a REST API to manage the large amount of data Aspire receives from their energy management system, Salt Lake City and Ogden's Viriciti buses, and Aspire's Electric Vehicle and Roadway building's energy production and consumption. Due to the project being private, I cannot share a link to this project."}
      details={"The REST API has 3 databases. One of them holds all of the energy management system's data, another holds the EVR's data, and the last one holds the bus information. This was done to reduce the load of using the data because we are able to have each database and its respective API on different computers. There is a master API that handles the GET requests and will call the respective API for the information. This master API does not store anything in its database as it is only used to be an easier way to communicate to each API."}
    />
    <ProjectCard
      client:load
      title={"Charger Reservation Application"}
      body={"A mobile friendly website I created to reserve electric vehicle chargers."}
      projectLink={"https://github.com/DIRECTLab/reservation-frontend-web"}
      image={"/ReservationApplication.png"}
    />
    <ProjectCard
      client:load
      title={"Pong"}
      body={"A Pong replica I created in Monogame following the ECS architectural pattern."}
      projectLink={"https://github.com/foggeydoughtnut/Pong"}
      image={"/Pong.png"}
    />
    <ProjectCard
      client:load
      title={"Galaga"}
      body={"A Galaga replica I created in Monogame."}
      projectLink={"https://github.com/foggeydoughtnut/Galaga"}
      image={"/Galaga.png"}
    />
    <ProjectCard
      client:load
      title={"Vehicle Reservation via Slack"}
      body={"Slack bot developed for USU IT to reserve vehicles using the Outlook API. Used the Flask Python framework to recieve and process the Slack commands. Used Microsoft's Graph API to schedule events on the Vehicle's specifc calendar"}
      projectLink={"https://github.com/foggeydoughtnut/Vehicle-Reservation-Slack"}
    />
    <ProjectCard
      client:load
      title={"Space Guy"}
      body={"This is a top-down 2d game that I created in Unity."}
      projectLink={"https://github.com/foggeydoughtnut/SpaceGuy-Unity"}
      image={"/space-guy.png"}
    />
    <ProjectCard
      client:load
      title={"Mountain Climb"}
      body={"This project used a RL agent to make the car climb up the hill and reach the flag."}
      projectLink={"https://github.com/foggeydoughtnut/mountain-climb"}
      image={"/MountainClimb.png"}
    />
    <ProjectCard
      client:load
      title={"Portfolio Website"}
      body={"This is my portfolio website I created."}
      projectLink={"https://github.com/foggeydoughtnut/Portfolio-v2"}
      image={"/PortfolioSite.png"}
    />
    <ProjectCard
      client:load
      title={"Flash Card App"}
      body={"This is flash card app that I created as a school project for Android"}
      projectLink={"https://github.com/foggeydoughtnut/FlashCardApp"}
      image={"/FlashCardApp.png"}
    />
    <ProjectCard
      client:load
      title={"Tower Defense"}
      body={"This is a tower defense game I made in Unity expanding on a tutorial that I followed."}
      projectLink={"https://github.com/foggeydoughtnut/TowerDefense"}
      image={"/TowerDefense.jpg"}
    />
  </div>
</BaseLayout>
