---
import NavBar from "~components/NavBar";
---

<html lang="en" data-theme="garden">

<head>
  <meta charset="utf-8">
  <title>Jeff Anderson</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://kit.fontawesome.com/43f7f6d8ee.js" crossorigin="anonymous"></script>
</head>

<body class="mb-4">
  <NavBar client:load />
  <slot />
</body>

</html>